body {
    background: linear-gradient(135deg, #ffd139, #ff9100, #ffd139);
    font-family: 'Segoe UI', sans-serif;
}

div.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}