body {
    background: linear-gradient(135deg, #ffd139, #ff9100, #ffd139);
    font-family: 'Segoe UI', sans-serif;
}

/* charts */
.overview-charts-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview-chart-bar-container {

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.overview-chart-pie-container {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
}


.overview-single-chart {
    text-align: center;
}

.overview-single-chart {
    text-align: center;
}