html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

/* overview charts */
.overview-chart-container {
  /* centering method for chart */
  display: flex;
  /* move chart left, right, or center */
  justify-content: space-between;
  /* move chart up or down */
  align-items: center;

  /* make chart wider or narrower */
  width: 100%;
  /* limit how wide chart can get */
  /* max-width: 600px; */
  /* make chart taller or shorter */
  height: 400px;

  /* horizontal positioning left*/
  margin: auto;
  /* Required for chart layout */
  position: relative;
}

/* Chart canvas */
.overview-chart-container canvas {
  /* Change container width to make chart wider or narrower */
  width: 50%;
  /* Change container height to make chart taller or shorter */
  height: 100%;
}


/* loader overlay */
.loader {
  /* top and height are set by script */
  position: fixed;
  top: 0;
  left: 0;
  /*cover full screen */
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  /* alignment horizontaly */
  justify-content: center;
  /* alignment vertically */
  align-items: center;
  /* sits above everyting */
  z-index: 9999;
}

/* loader spinner */
.loader::after {
  content: "";
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}