@using Microsoft.CodeAnalysis.CSharp
@model Centek.Models.RecurringPayment

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-md-4">
        <form id="EditForm" asp-action="Edit">
            <h1>Edit Recurring Payment</h1>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* name input *@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @* Note input *@
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            @* Type input *@
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <div>
                    <div id="button-3" class="button r">
                        <input class="checkbox" type="checkbox" asp-for="Type">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                    </div>
                </div>
            </div>
            @* Amount input *@
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            @* Start Date input *@
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Start Date</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            @* Start Date input *@
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">End Date</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            @* Recurring Frequency *@
            <div class="form-group">
                <label asp-for="RecFrequency" class="control-label">Recurring Frequency</label>
                <select asp-for="RecFrequency" class="form-control">
                    <option value="">-- Select Ocurring Frequency --</option>
                    @foreach (var freq in new List<String> { "Daily", "Weekly", "Monthly", "Yearly" })
                    {
                        <option value="@freq">@freq</option>
                    }
                </select>
                <span asp-validation-for="RecFrequency" class="text-danger"></span>
            </div>
            @* Recurring Interval *@
            <div class="form-group">
                <label asp-for="RecInterval" class="control-label">Recurring Interval</label>
                <input asp-for="RecInterval" class="form-control" />
                <span asp-validation-for="RecInterval" class="text-danger"></span>
            </div>
            @* Account dropdown *@
            <div class="form-group">
                <label asp-for="AccountId" class="control-label">Account</label>
                <select asp-for="AccountId" asp-items="ViewBag.Accounts" class="form-control">
                    <option value="">-- Select Account --</option>
                </select>
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>

            @* Main Category dropdown *@
            <div class="form-group">
                <label asp-for="MainCategoryId" class="control-label">Main Category</label>
                <select asp-for="MainCategoryId" asp-items="ViewBag.MainCategories" class="form-control"
                    id="MainCategoryId">
                    <option value="">-- Select Main Category --</option>
                </select>
                <span asp-validation-for="MainCategoryId" class="text-danger"></span>
            </div>

            @* Subcategory dropdown *@
            <div class="form-group">
                <label asp-for="SubCategoryId" class="control-label">Sub Category</label>
                <select asp-for="SubCategoryId" asp-items="ViewBag.SubCategories" class="form-control"
                    id="SubCategoryId">
                    <option value="">-- Select Sub Category --</option>
                </select>
                <span asp-validation-for="SubCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Payments" asp-action="Index">Back to List</a>
</div>

@* script for updating SubCategory dropdown *@
@section Scripts {
    <script>
        // start script only when page is fully loaded
        document.addEventListener('DOMContentLoaded', () => {
            const main = document.getElementById('MainCategoryId');
            const sub = document.getElementById('SubCategoryId');


            // wait for change in mainCategoryId
            main?.addEventListener('change', () => {
                sub.innerHTML = '<option value="">-- Select Sub Category --</option>';
                if (!main.value) return;

                // get data for subCategory from selected Main Categories
                fetch(`/Payments/GetSubCategories?mainCategoryId=${main.value}`)
                    .then(res => res.json())
                    .then(data => data.forEach(sc =>
                        sub.appendChild(new Option(sc.name, sc.id))
                    ));
            });
        });
    </script>
}