@{
    ViewData["Title"] = "Access Forbidden";
}
@section Styles {
    <link rel="stylesheet" href="~/css/error.css" asp-append-version="true" />
}
<h1>403 - Forbidden</h1>
<p>You do not have permission to view this page.</p>
<a href="/">Return Home</a>
