@{
    ViewData["Title"] = "Server Error";
}
@section Styles {
    <link rel="stylesheet" href="~/css/error.css" asp-append-version="true" />
}
<h1>500 - Internal Server Error</h1>
<p>Something went wrong on the server. Please try again later.</p>
<a href="/">Return Home</a>