@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" /> @* style for index page *@
}

<div class="text-center">
    <h1 class="display-4">Welcome to home of centek</h1>
    <div class="mt-4">
        <a class="btn btn-primary btn-lg mx-2" asp-area="Identity" asp-page="/Account/Login">Prijava</a>
        <a class="btn btn-success btn-lg mx-2" asp-area="Identity" asp-page="/Account/Register">Registracija</a>
    </div>
    <p>Learn more <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=RDdQw4w9WgXcQ&start_radio=1">here</a>.</p>
</div>
