@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" /> @* style for index page *@
}

<div class="text-center">
    <h1 class="display-4">Welcome to home of Centek</h1>
    <div class="buttons">
        <a asp-controller="Payments" asp-action="Create" class="btn btn-primary">New Payment</a>
        <a asp-controller="RecurringPayments" asp-action="Create" class="btn btn-primary">New Recurring Payment</a>
    </div>
</div>