@{
    ViewData["Title"] = "Privacy Policy";
}
@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}
<div>
    <h2>CREATORS</h2>
    <b><p>This page is created and managed by:</p></b>
    <li>Matic Žakelj</li>
    <li>Mark Hafner</li>

    <br>
    <b><p>Data we collect:</p></b>
    <li>name and surname</li>
    <li>email adress</li>
    <li>telephone number</li>
    <li>data you input for accounts, categories and payments</li>

    <br>
    <h5>We use your data for creating graphs and tables only you can see. You can view, edit or delete your data at any time.</h5>
    <br>
    <h5>We do not use cookies and do not collect data about visits and use of website.</h5>
</div>