@{
    ViewData["Title"] = "Privacy Policy";
}
@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" /> @* style for index page *@
}
<div>
    <h2>CREATORS</h2>
    <a>This web page was made by:</a>
    <li>Matic Žakelj</li>
    <li>Mark Hafner</li>
</div>