@model Centek.Models.SubCategory

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>SubCategory Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Main Category Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MainCategory.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-primary">Edit</a> |
    <a asp-controller="MainCategories" asp-action="Index" class="btn btn-primary">Back to List</a>
</div>